.pokemonCard {
    background: bisque;
    width: 14rem;
    border-radius: 1rem;
    padding: 1rem;
}

.pokemonCard.small {
    width: 8rem;
}

.pokemonCard>img.notCaught {
    opacity: 40%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4rem;
    background-color: rgba(0, 0, 0, 0.533);
    z-index: 20;
}